body{
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	background-color: #ecf0f1;
	color: #34495e;
}
.img-accueil{
	margin: 175px;
	padding: 1px;
	width: 400px;
}

.img-sous{
	width: 75px;
	padding: 1px;
}

h1{
	font-size : 50px;
	font-weight : normal;
	text-align: center;
}

header{
	height: 100px;
}

li{
	list-style: none;
}

nav{
	width: 100%;
	background-color: #424558;
}

nav ul{
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
nav li{
	list-style-type : none;
	float: left;
}

nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #FFF;
}

.menu-index:hover{
	border-top: 5px solid #e44d26;
	background-color: rgba(228, 77, 38, 0.15);
}

.menu-pres:hover{
	border-top: 5px solid #3498db;
	background-color: #2c3e50;
}

.menu-lien:hover{
	border-top: 5px solid #f1c40f;
	background-color:rgba(241, 211, 79, 0.15);
}

.menu-dl:hover{
	border-top: 5px solid #2ecc71;
	background-color: rgba(204, 255, 204, 0.15);
}
.titre-sous{
	color:#2980b9;
	font-weight: bold;
}

.para-sous{
	color: #34495e;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
}

.li-mail{
	margin:3px;
	padding: 6px;
	border-top:25px;
	text-align: center;
}

.lien-mail{
	text-decoration: none;
}

.li-log{
	margin:3px;
	padding: 6px;
	border-top:25px;
	text-align: center;
}

.logo-log{
	vertical-align : sub;
	margin-left: auto;
	margin-right: auto;
	width: 25px;
	height: 25px;
}

.lien-log{
	text-decoration: none;
	color: #2c3e50;
}

.logo-google{
	vertical-align: sub;
	width : 40px;
	height: 25px;
}

.groupe {
	display: inline-block;
}

.photo-groupe{
	margin: 35px;
	padding: 1px;
	width : 200px;
	height: 200px;
}

.nom-photo
{
	font-family: 'Poppins', sans-serif;
	color: #34495e;
}

.liste-groupe{
	text-align: center;
}

.lien-dl{
	text-decoration: none;
	color: #2c3e50;
	line-height: 250%;
	font-size: xx-large;
}

.li-dl{
	margin:3px;
	padding: 6px;
	border-top:25px;
	text-align: center;
}

.liste-prob{
	margin:3px;
	padding: 6px;
	border-top:25px;
	text-align: center;
}

.nom-pb{
	font-size: 32px;
}

.text-pb{
	text-align: justify;
	text-align-last: center;
	margin-left: 300px;
	margin-right: 300px;
}

.logo-ceoil{
	vertical-align: middle;
	margin-left: auto;
	margin-right: 5px;
	width: 20px;
	height: 20px;
}
